<div class="container mt15">
    <div class="row">
        <div class="col-sm-8 col-md-9 personal-info">
            <div class="panel-custom">
                <div class="panel-heading">
                    <h3 class="panel-title"> Add Profile</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <!-- edit form column -->
                        <div class="col-md-9 personal-info">
                            <div class="text-center">
                                <div class="row user_image">
                                    <label for="img-file">
                                        <img src="images/user.png" ng-show="!image" class="avatar img-circle" alt="avatar" />
                                        <img ng-show="image" src="/images/profile-images/{{image}}" class="avatar img-circle">
                                    </label>
                                    <input type="file" ng-model="file_name" id="img-file" style="display:none" onchange="angular.element(this).scope().UploadImage(event)" />
                                </div>
                            </div>
                            <div class="row ft-form">
                                <form class="form-horizontal" name="form" role="form" ng-submit="form.$submitted && form.$valid &&  Create(user)" novalidate>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Category:</label>
                                        <div class="col-lg-8 input-container">
                                            <select class="form-control form-st" name="category" ng-model="user.category" required>
                                                <option value="">--SELECT--</option>
                                                <option value="Tutor">Tutor</option>
                                                <option value="Student">Student</option>
                                            </select>
                                            <div ng-messages="form.category.$error" ng-if="form.category.$touched || form.$submitted">
                                                <div ng-messages-include="../../element/notifyMessages.html"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Education:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" name="education" type="text" placeholder="Enter Your Education" ng-model="user.education">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Languages Known:</label>
                                        <div class="col-lg-8">
                                            <tags-input ng-model="user.languages" placeholder="Enter languages you know about"></tags-input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Skills:</label>
                                        <div class="col-lg-8">
                                            <tags-input ng-model="user.skills" placeholder="Enter you skills"></tags-input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Interests:</label>
                                        <div class="col-lg-8">
                                            <tags-input ng-model="user.interests" placeholder="Enter you skills"></tags-input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Location:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" type="text" name="location" placeholder="Enter you location" ng-model="user.location">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Panel Title:</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" name="info" type="text" placeholder="Enter some information about yourself" ng-model="user.info"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-8">
                                            <input class="btn btn-success" value="Continue" type="submit" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</div>
